main.blog-posts {
    width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
}

main.blog-posts li{
    margin: 1rem 0;
}

main.blog-posts li:not(:first-of-type){
    padding: 1rem;
}

.blog-body .hero-image {
    width: 100%;
    padding: 1rem 0;
}

.blog-body h1,
.blog-body h2,
.blog-body h3,
.blog-body h4,
.blog-body h5,
.blog-body h6 {
    text-align: center;
}