/* .mode-reference-table tr{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 1rem;
} */

 h3.mode-reference-table-label {
    text-align: center;
    margin: 0 0 1rem;
    padding: 1rem 0;
}

.mode-reference-table ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.mode-reference-table li {
	text-align: center;
    width: 14.2857142857%;
    margin: .25rem;
    background-color: rgba(35,55,255,1);
    color: white;
}
/*
.mode-reference-table li:nth-child(even) {
	border: 1px solid black;
}
*/