---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import DelayCalc from '../components/svelte/DelayCalc.svelte';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section class="all-modules">
				<details>
					<summary>
						<h2>Mode / scale reference</h2>
						<hgroup>
							Choose a mode and/or a starting key to get notes and chords within that scale.
						</hgroup>
					</summary>
					//Modes | Chords | Circle of fifths
				</details>
				<details>
					<summary>
						<h2>
							Sub-bass compression attack minimums
						</h2>
						<hgroup>
							This table provides the time it takes to complete a single sub bass cycle. It may be beneficial for applying compression or layering in the sub-bass range.
						</hgroup>
					</summary>
					//Table of sub-bass compression times Sub-bass | Mixing Bass
					//should have a ms AND samples for this!!!
				</details>
				<details>
					<summary>
						<h2>
							Delay / pre-delay calculator
						</h2>
						<hgroup>
							These timings can be useful for experimenting with delays and reverbs or manually syncing them to your tempo. 16th, 32nd, and 64th values might be useful for compression attack times for preserving or accentuating transients.
						</hgroup>
					</summary>
					//Table of delay and pre-delay calculator times
					//should have a ms AND samples for this!!!
					<DelayCalc client:only="svelte"/>
				</details>
				<details>
					<summary>
						<h2>
							LFO / Hertz calculator
						</h2>
						<hgroup>
							These timings can be useful for experimenting with synthesizers and analog modelled gear.
						</hgroup>
					</summary>
					//table of timings
					//should have a ms AND samples for this!!!
				</details>
				<details>
					<summary>
						<h2>
							Musical note frequencies
						</h2>
						<hgroup>
							A table of musical notes and their corresponding frequencies (when A=440). This is useful for instrumentation ranges and EQing. It is generally best practice to roll off the lows between 20 and 40 Hertz.
						</hgroup>
					</summary>
					//musical note frequencies!
				</details>
			</section>
		</main>
		<Footer />
	</body>
</html>
